{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titre de la page</title>

    <link href="{% sass_src 'bootstrap-sass/assets/stylesheets/_bootstrap.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'sass/style.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'dropdownHover/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% sass_src 'dropdownHover/css/bootstrap-dropdownhover.min.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home'%}">Home</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-animations="rotateIn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Client Section<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'client-list'%}">Clients</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'project-client-create'%}">Create Client</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-animations="rotateIn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Project Section<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'project-list'%}">Project List</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'project_create'%}">Create Project</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
    {% block content %} {% endblock %}
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-sass/assets/javascripts/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript" src="{% static 'dropdownHover/js/bootstrap-dropdownhover.min.js' %}"></script>
    {% block extra_scripts %} {% endblock extra_scripts %}
</body>
</html>
